<div class="page-header">
  <h1>Darkzone <small>messngr updates</small></h1>

<small class="text-right"><%= link_to "Sign Out", sign_out_path, method: :delete %></small>
</div>


<%= react_component 'TopLevel', {initialChatRooms: @chatrooms} %>
