<h1>Zone#index</h1>
<p>Find me in app/views/zone/index.html.erb</p>


<div container="container">
  <% @users.each do |user|%>

  <%=user.email%> - email
  <br>
  <%=user.username%> - username
  <br>

  <% end %>
</div>
